<%- include('header') %>
<h2>Administrativo: <a href="/"><button type="button" class="btn btn-success btn-sm">Rules</button></a></h2>
<div>
    <ul>
        <li><a href="admin/category">Gerenciar Categorias</a></li>
        <li><a href="admin/vagas">Gerenciar Vagas</a></li>
    </ul>
</div>
<%- include('footer') %>